#!/bin/bash

{{ if eq .chezmoi.os "linux" }}

  echo 'Installing zsh...'

  {{ if eq .chezmoi.osRelease.idLike "debian" }}
    sudo apt install zsh
  {{ else }}
    echo "This distro is not supported yet..."
  {{ end }}

{{ end }}
