#!/bin/bash

echo -e "\033[90m[debug]: Ran from apply_root.sh\033[0m"

{{ if eq .chezmoi.os "darwin" }}
  echo
  echo "Changing chezmoi root to macOS"
  echo "roots/macos" > .local/share/chezmoi/.chezmoiroot
{{ end }}

chezmoi init --apply
