{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# Brew is macOS specific

echo '>>> 🚀 Tapping formulae...'
taps=(
{{ range .packages.darwin.common.taps -}}
{{ . | quote }}
{{ end -}}
)


for tap in $taps; do
  if ! brew tap 2>/dev/null | grep -q $tap; then
	echo "  ❌ $tap"
	brew tap $tap
  else
   echo "  ✅ $tap"
  fi
done

echo '\n>>> 🚀 Installing common brew packages...'

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.common.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.common.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ if ne .chezmoi.config.destDir "/Users/a089947" }}

echo '\n>>> 🚀 Installing home-only brew packages...'

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.home.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.home.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ end }}

{{ else -}}
#!/bin/bash
{{ end }}

# NPM packages
packages=(
{{ range .packages.npm.common -}}
{{ . | quote }}
{{ end -}}
)

missing_packages=()

echo "\n>>> 🚀 Checking for missing NPM packages..."

for package in $packages; do
  if ! npm list $package -g --parseable 2>/dev/null | grep -q $package; then
    echo "  ❌ $package"
    missing_packages+=($package)
  else
    echo "  ✅ $package"
  fi
done

if [[ ${#missing_packages[@]} -gt 0 ]]; then
  echo "\n>>> 🚀 Installing missing packages..."
  npm -g install ${missing_packages[@]}
  echo "  ✅ All missing packages have been installed."
else
  echo "\n👍 All packages are already installed."
fi
