#!/usr/bin/env fish


# Base profile
{{ range .packages.npm.base }}
  set -a packages {{ . | quote }}
{{ end }}

# Desktop profile
{{ if has .chezmoi.hostname .machines.desktop }}
  {{ range .packages.npm.desktop }}
    set -a packages {{ . | quote }}
  {{ end -}}
{{ end }}

# Personal profile
{{ if has .chezmoi.hostname .machines.personal }}
  {{ range .packages.npm.personal }}
    set -a packages {{ . | quote }}
  {{ end -}}
{{ end }}

echo -e "\n>>> 🚀 Checking for missing NPM packages..."

set missing_packages

for package in $packages
  if not npm list $package -g --parseable 2>/dev/null | grep -q $package
    echo "  ❌ $package"
    set -a missing_packages $package
  else
    echo "  ✅ $package"
  end
end

if test (count $missing_packages) -gt 0
  echo -e "\n  >>> 🚀 Installing missing packages..."
  npm -g install $missing_packages
  echo -e "\n  🎉 All missing packages have been installed."
else
  echo -e "\n  👍 All packages are already installed."
end
