#!/bin/bash

### Install bun
echo -e "\n\n>>> Checking for bun..."
if [ -x "$(command -v bun)" ]; then
  bun_version=$(bun --version)
  echo -e "  Founding existing bun installation: $bun_version"
else
  echo -e "No existing installation found"
  echo -e "\n\n>>> Installing bun..."
  curl -fsSL https://bun.sh/install | bash
fi

### Install pnpm
echo -e "\n\n>>> Checking for pnpm..."
if [ -x "$(command -v pnpm)" ]; then
  pnpm_version=$(pnpm --version)
  echo -e "  Founding existing pnpm installation: $pnpm_version"
else
  echo -e "No existing installation found"
  echo -e "\n\n>>> Installing pnpm..."
  curl -fsSL https://get.pnpm.io/install.sh | sh -
fi

### Install pnpm
echo -e "\n\n>>> Checking for dnvm..."
if [ -x "$(command -v dnvm)" ]; then
  echo -e "  Founding existing dnvm installation"
else
  echo -e "No existing installation found"
  echo -e "\n\n>>> Installing dnvm..."
  curl --proto '=https' -sSf https://dnvm.net/install.sh | sh
fi
