#!/usr/bin/env fish

# Install fisher if it needed
if not type -q fisher
    echo -e "\n>>> 🚀 Installing fisher"
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

echo -e "\n>>> 🚀 Updating fish plugins"

fisher update
